In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [2]:
raw_bpq = pd.read_sas('BPQ_I.XPT')

Columns to keep:

BPQ020 - Ever told you had high blood pressure (categorical)

BPQ080 - Doctor told you - high cholesterol level (categorical)

In [3]:
bpq_cols_to_keep = ['SEQN', 'BPQ020', 'BPQ080']

In [4]:
bpq_df = raw_bpq[bpq_cols_to_keep]

In [5]:
bpq_df.shape

(6327, 3)

In [6]:
bpq_df.isna().sum()

SEQN      0
BPQ020    0
BPQ080    0
dtype: int64

In [7]:
bpq_df.loc[bpq_df['BPQ020']>6,'BPQ020'] = np.NaN
bpq_df.loc[bpq_df['BPQ080']>6,'BPQ080'] = np.NaN

In [8]:
bpq_df.isna().sum()

SEQN       0
BPQ020     6
BPQ080    44
dtype: int64

In [9]:
bpq_df.rename(columns={'BPQ020':'Ever_told_high_blood_pressure', 'BPQ080':'Ever_told_high_cholesterol'}, inplace=True)

In [10]:
bpq_df.head()

      SEQN  Ever_told_high_blood_pressure  Ever_told_high_cholesterol
0  83732.0                            2.0                         2.0
1  83733.0                            2.0                         2.0
2  83734.0                            1.0                         1.0
3  83735.0                            2.0                         2.0
4  83736.0                            2.0                         2.0

In [12]:
bpq_df.to_csv('Blood_Pressure_Cholestrol_Questionnaire_Data.csv')