In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [10]:
#get demographic data

In [3]:
raw_demo = pd.read_sas(filepath_or_buffer='DEMO_I (1).XPT')

In [19]:
#decide what columns to keep

RIAGENDR - gender (1: male; 2: female) (Categorical)

RIDAGEYR - age in years (0 to 79 range of values; 80 for 80+) (discrete)

RIDRETH3 - Race/Hispanic origin w/ NH Asian (categorical)

DMDBORN4 - Country of birth (US or OUS) (categorical)

INDFMIN2 - Annual family income (categorical)

In [4]:
demo_cols_to_keep = ['SEQN', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'DMDBORN4', 'INDFMIN2']

In [5]:
demo_df = raw_demo[demo_cols_to_keep]

In [6]:
demo_df.head()

      SEQN  RIAGENDR  RIDAGEYR  RIDRETH3  DMDBORN4  INDFMIN2
0  83732.0       1.0      62.0       3.0       1.0      10.0
1  83733.0       1.0      53.0       3.0       2.0       4.0
2  83734.0       1.0      78.0       3.0       1.0       5.0
3  83735.0       2.0      56.0       3.0       1.0      10.0
4  83736.0       2.0      42.0       4.0       1.0       7.0

In [7]:
demo_df.shape

(9971, 6)

In [9]:
demo_df.isna().sum()

SEQN          0
RIAGENDR      0
RIDAGEYR      0
RIDRETH3      0
DMDBORN4      0
INDFMIN2    329
dtype: int64

In [ ]:
#deal w/ missing data
#age, gender, race columns are good
#country of birth - two '99' values (person answered 'don't know'); change to NaN

In [12]:
demo_df.loc[demo_df['DMDBORN4'] == 99, 'DMDBORN4'] = np.NaN

In [ ]:
#family income 222 77s(refused) and 132 99s(don't know); convert to 354 N/As

In [13]:
demo_df.loc[demo_df['INDFMIN2'] > 70, 'INDFMIN2'] = np.NaN

In [14]:
demo_df.isna().sum()

SEQN          0
RIAGENDR      0
RIDAGEYR      0
RIDRETH3      0
DMDBORN4      2
INDFMIN2    683
dtype: int64

In [18]:
demo_df.rename(columns={'RIDAGEYR':'Age', 'RIAGENDR':'Gender', 'RIDRETH3':'Race', 
                                  'DMDBORN4':'Country_Born', 'INDFMIN2':'Family_Income'}, inplace=True)

In [19]:
demo_df.head()

      SEQN  Gender   Age  Race  Country_Born  Family_Income
0  83732.0     1.0  62.0   3.0           1.0           10.0
1  83733.0     1.0  53.0   3.0           2.0            4.0
2  83734.0     1.0  78.0   3.0           1.0            5.0
3  83735.0     2.0  56.0   3.0           1.0           10.0
4  83736.0     2.0  42.0   4.0           1.0            7.0

In [21]:
demo_df.to_csv('Demographics_Data.csv')

**Blood Pressure Data**

In [23]:
raw_blood_pressure = pd.read_sas('BPX_I.XPT')

In [24]:
raw_blood_pressure_systolic = raw_blood_pressure[['BPXSY1', 'BPXSY2', 'BPXSY3']]

In [25]:
raw_blood_pressure_systolic.head()

   BPXSY1  BPXSY2  BPXSY3
0   128.0   124.0   116.0
1   146.0   140.0   134.0
2   138.0   132.0   136.0
3   132.0   134.0   136.0
4   100.0   114.0    98.0

In [26]:
raw_blood_pressure_systolic.tail()

      BPXSY1  BPXSY2  BPXSY3
9539     NaN     NaN     NaN
9540     NaN     NaN     NaN
9541   104.0   106.0   104.0
9542   114.0   114.0   114.0
9543   118.0   114.0   124.0

In [27]:
raw_blood_pressure_systolic.shape

(9544, 3)

In [28]:
raw_blood_pressure_systolic['Systolic_BP_Avg'] = raw_blood_pressure_systolic.mean(axis=1, skipna=True)

In [29]:
raw_blood_pressure_systolic.head()

   BPXSY1  BPXSY2  BPXSY3  Systolic_BP_Avg
0   128.0   124.0   116.0       122.666667
1   146.0   140.0   134.0       140.000000
2   138.0   132.0   136.0       135.333333
3   132.0   134.0   136.0       134.000000
4   100.0   114.0    98.0       104.000000

In [30]:
raw_blood_pressure_systolic.tail()

      BPXSY1  BPXSY2  BPXSY3  Systolic_BP_Avg
9539     NaN     NaN     NaN              NaN
9540     NaN     NaN     NaN              NaN
9541   104.0   106.0   104.0       104.666667
9542   114.0   114.0   114.0       114.000000
9543   118.0   114.0   124.0       118.666667

In [31]:
raw_blood_pressure_diastolic = raw_blood_pressure[['BPXDI1', 'BPXDI2', 'BPXDI3']]

In [32]:
raw_blood_pressure_diastolic['Diastolic_BP_Avg'] = raw_blood_pressure_diastolic.mean(axis=1, skipna=True)

In [33]:
raw_blood_pressure_diastolic.head()

   BPXDI1  BPXDI2  BPXDI3  Diastolic_BP_Avg
0    70.0    64.0    62.0         65.333333
1    88.0    88.0    82.0         86.000000
2    46.0    44.0    46.0         45.333333
3    72.0    68.0    70.0         70.000000
4    70.0    54.0    56.0         60.000000

In [34]:
raw_blood_pressure_diastolic.tail()

      BPXDI1  BPXDI2  BPXDI3  Diastolic_BP_Avg
9539     NaN     NaN     NaN               NaN
9540     NaN     NaN     NaN               NaN
9541    62.0    66.0    68.0         65.333333
9542    48.0    46.0    52.0         48.666667
9543    66.0    68.0    64.0         66.000000

In [35]:
raw_blood_pressure_systolic_diastolic = pd.concat([raw_blood_pressure_systolic, raw_blood_pressure_diastolic], axis=1)

In [36]:
raw_blood_pressure_systolic_diastolic.head()

,BPXSY1,BPXSY2,BPXSY3,Systolic_BP_Avg,BPXDI1,BPXDI2,BPXDI3,Diastolic_BP_Avg
0,128.0,124.0,116.0,122.666667,70.0,64.0,62.0,65.333333
1,146.0,140.0,134.0,140.000000,88.0,88.0,82.0,86.000000
2,138.0,132.0,136.0,135.333333,46.0,44.0,46.0,45.333333
3,132.0,134.0,136.0,134.000000,72.0,68.0,70.0,70.000000
4,100.0,114.0,98.0,104.000000,70.0,54.0,56.0,60.000000

In [37]:
raw_blood_pressure_systolic_diastolic.tail()

,BPXSY1,BPXSY2,BPXSY3,Systolic_BP_Avg,BPXDI1,BPXDI2,BPXDI3,Diastolic_BP_Avg
9539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9541,104.0,106.0,104.0,104.666667,62.0,66.0,68.0,65.333333
9542,114.0,114.0,114.0,114.000000,48.0,46.0,52.0,48.666667
9543,118.0,114.0,124.0,118.666667,66.0,68.0,64.0,66.000000

In [38]:
raw_blood_pressure_systolic_diastolic.shape

(9544, 8)

In [39]:
raw_blood_pressure_systolic_diastolic_avgs = raw_blood_pressure_systolic_diastolic[['Systolic_BP_Avg', 'Diastolic_BP_Avg']]

In [40]:
raw_blood_pressure_systolic_diastolic_avgs.head()

   Systolic_BP_Avg  Diastolic_BP_Avg
0       122.666667         65.333333
1       140.000000         86.000000
2       135.333333         45.333333
3       134.000000         70.000000
4       104.000000         60.000000

In [41]:
raw_blood_pressure_systolic_diastolic_avgs.tail()

      Systolic_BP_Avg  Diastolic_BP_Avg
9539              NaN               NaN
9540              NaN               NaN
9541       104.666667         65.333333
9542       114.000000         48.666667
9543       118.666667         66.000000

In [42]:
raw_bp_sys_dias_avgs = pd.concat([raw_blood_pressure, raw_blood_pressure_systolic_diastolic_avgs], axis=1)

In [43]:
raw_bp_sys_dias_avgs.head()

,SEQN,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,...,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,Systolic_BP_Avg,Diastolic_BP_Avg
0,83732.0,NaN,NaN,1.0,4.0,76.0,1.0,1.0,150.0,128.0,...,64.0,2.0,116.0,62.0,2.0,NaN,NaN,NaN,122.666667,65.333333
1,83733.0,NaN,NaN,1.0,4.0,72.0,1.0,1.0,170.0,146.0,...,88.0,2.0,134.0,82.0,2.0,NaN,NaN,NaN,140.000000,86.000000
2,83734.0,NaN,NaN,1.0,4.0,56.0,1.0,1.0,160.0,138.0,...,44.0,2.0,136.0,46.0,2.0,NaN,NaN,NaN,135.333333,45.333333
3,83735.0,NaN,NaN,1.0,5.0,78.0,1.0,1.0,150.0,132.0,...,68.0,2.0,136.0,70.0,2.0,NaN,NaN,NaN,134.000000,70.000000
4,83736.0,NaN,NaN,1.0,3.0,76.0,1.0,1.0,130.0,100.0,...,54.0,2.0,98.0,56.0,2.0,NaN,NaN,NaN,104.000000,60.000000

In [44]:
raw_bp_sys_dias_avgs.tail()

,SEQN,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,...,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4,Systolic_BP_Avg,Diastolic_BP_Avg
9539,93698.0,NaN,116.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9540,93699.0,NaN,90.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9541,93700.0,NaN,NaN,1.0,4.0,76.0,1.0,1.0,140.0,104.0,...,66.0,2.0,104.0,68.0,2.0,NaN,NaN,NaN,104.666667,65.333333
9542,93701.0,NaN,NaN,1.0,2.0,92.0,1.0,1.0,140.0,114.0,...,46.0,2.0,114.0,52.0,2.0,NaN,NaN,NaN,114.000000,48.666667
9543,93702.0,NaN,NaN,1.0,3.0,80.0,1.0,1.0,150.0,118.0,...,68.0,2.0,124.0,64.0,2.0,NaN,NaN,NaN,118.666667,66.000000

In [45]:
raw_bp_sys_dias_avgs.shape

(9544, 23)

Blood Pressure columns to keep:

Systolic_BP_Avg (Avg. of 3 readings) - continuous

Diastolic_BP_Avg (Avg. of 3 readings) - continuous

BPXPLS - 60 sec. pulse - discrete

BPXPULS - Pulse regular or irregular? - categorical

In [46]:
bp_cols_to_keep = ['SEQN', 'BPXPLS', 'BPXPULS', 'Systolic_BP_Avg', 'Diastolic_BP_Avg']

In [47]:
blood_pressure_df = raw_bp_sys_dias_avgs[bp_cols_to_keep]

In [48]:
blood_pressure_df.head()

      SEQN  BPXPLS  BPXPULS  Systolic_BP_Avg  Diastolic_BP_Avg
0  83732.0    76.0      1.0       122.666667         65.333333
1  83733.0    72.0      1.0       140.000000         86.000000
2  83734.0    56.0      1.0       135.333333         45.333333
3  83735.0    78.0      1.0       134.000000         70.000000
4  83736.0    76.0      1.0       104.000000         60.000000

In [49]:
blood_pressure_df.isna().sum() #leaving N/A values as is for now

SEQN                   0
BPXPLS              2168
BPXPULS              230
Systolic_BP_Avg     2182
Diastolic_BP_Avg    2182
dtype: int64

In [51]:
blood_pressure_df.rename(columns={'BPXPLS':'Heart_Rate', 'BPXPULS':'Pulse_Regular_Irregular'}, inplace=True)

In [53]:
blood_pressure_df.head()

,SEQN,Heart_Rate,Pulse_Regular_Irregular,Systolic_BP_Avg,Diastolic_BP_Avg
0,83732.0,76.0,1.0,122.666667,65.333333
1,83733.0,72.0,1.0,140.000000,86.000000
2,83734.0,56.0,1.0,135.333333,45.333333
3,83735.0,78.0,1.0,134.000000,70.000000
4,83736.0,76.0,1.0,104.000000,60.000000

In [55]:
blood_pressure_df.shape

(9544, 5)

In [57]:
blood_pressure_df.isna().sum()

SEQN                          0
Heart_Rate                 2168
Pulse_Regular_Irregular     230
Systolic_BP_Avg            2182
Diastolic_BP_Avg           2182
dtype: int64

In [59]:
blood_pressure_df.to_csv('Blood_Pressure_Examination_Data.csv')

**Body Measures Data**

In [60]:
raw_body_measures = pd.read_sas(filepath_or_buffer='BMX_I.XPT')

Columns to keep:

BMXWT - Weight (kg) (continuous)

BMXHT - Standing Height (cm) (continuous)

BMXBMI - Body Mass Index (kg/m\**2) (continuous)

BMXWAIST - Waist Circumference (cm) (continuous)

In [62]:
bm_cols_to_keep = ['SEQN', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXWAIST']

In [63]:
body_measures_df = raw_body_measures[bm_cols_to_keep]

In [64]:
body_measures_df.shape

(9544, 5)

In [65]:
body_measures_df.isna().sum()

SEQN           0
BMXWT         99
BMXHT        775
BMXBMI       788
BMXWAIST    1231
dtype: int64

In [66]:
body_measures_df.rename(columns={'BMXWT':'Weight_kg','BMXHT':'Height_cm','BMXBMI':'BMI','BMXWAIST':'Waist_cm'}, inplace=True)

In [67]:
body_measures_df.head()

      SEQN  Weight_kg  Height_cm   BMI  Waist_cm
0  83732.0       94.8      184.5  27.8     101.1
1  83733.0       90.4      171.4  30.8     107.9
2  83734.0       83.4      170.1  28.8     116.5
3  83735.0      109.8      160.9  42.4     110.1
4  83736.0       55.2      164.9  20.3      80.4

In [68]:
body_measures_df.shape

(9544, 5)

In [69]:
body_measures_df.isna().sum()

SEQN            0
Weight_kg      99
Height_cm     775
BMI           788
Waist_cm     1231
dtype: int64

In [70]:
body_measures_df.to_csv('Body_Measures_Examination_Data.csv')