In [93]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [94]:
raw_dbn = pd.read_sas('DBQ_I.XPT')

columns to keep:

DBQ197 - Past 30 day milk product consumption (categorical)

DBD895 - # of meals not home prepared (discrete)

DBD905 - # of ready-to-eat foods in past 30 days (discrete)

DBD910 - # of frozen meals/pizza in past 30 days (discrete)

In [95]:
dbn_cols_to_keep = ['SEQN', 'DBQ197', 'DBD895', 'DBD905', 'DBD910']

In [96]:
dbn_df = raw_dbn[dbn_cols_to_keep]

In [97]:
dbn_df.shape

(9971, 5)

In [98]:
dbn_df.isna().sum()

SEQN        0
DBQ197    396
DBD895    477
DBD905    493
DBD910    489
dtype: int64

In [100]:
dbn_df.loc[dbn_df['DBQ197'] < 1, 'DBQ197'] = 0
dbn_df.loc[dbn_df['DBD895'] < 1, 'DBD895'] = 0
dbn_df.loc[dbn_df['DBD905'] < 1, 'DBD905'] = 0
dbn_df.loc[dbn_df['DBD910'] < 1, 'DBD910'] = 0

In [101]:
dbn_df.head()

      SEQN  DBQ197  DBD895  DBD905  DBD910
0  83732.0     3.0     1.0     2.0     0.0
1  83733.0     0.0     0.0     0.0     0.0
2  83734.0     2.0     4.0     0.0     0.0
3  83735.0     0.0     3.0    11.0    15.0
4  83736.0     0.0     3.0     3.0     1.0

In [102]:
dbn_df.loc[dbn_df['DBD895'] == 5555, 'DBD895'] = 22
dbn_df.loc[dbn_df['DBD905'] == 6666, 'DBD905'] = 91
dbn_df.loc[dbn_df['DBD910'] == 6666, 'DBD910'] = 91

In [103]:
dbn_df.loc[dbn_df['DBD895'] == 9999, 'DBD895'] = np.NaN
dbn_df.loc[dbn_df['DBD905'] == 7777, 'DBD905'] = np.NaN
dbn_df.loc[dbn_df['DBD905'] == 9999, 'DBD905'] = np.NaN
dbn_df.loc[dbn_df['DBD910'] == 7777, 'DBD910'] = np.NaN
dbn_df.loc[dbn_df['DBD910'] == 9999, 'DBD910'] = np.NaN

In [109]:
dbn_df.rename(columns={'DBQ197':'Past_30day_milk_consumption', 'DBD895':'Meals_not_home_prepared', 
                       'DBD905':'Past_30day_ready_to_eat_foods', 'DBD910':'Past_30day_frozen_meals_pizza'}, inplace=True)

In [110]:
dbn_df.head()

,SEQN,Past_30day_milk_consumption,Meals_not_home_prepared,Past_30day_ready_to_eat_foods,Past_30day_frozen_meals_pizza
0,83732.0,3.0,1.0,2.0,0.0
1,83733.0,0.0,0.0,0.0,0.0
2,83734.0,2.0,4.0,0.0,0.0
3,83735.0,0.0,3.0,11.0,15.0
4,83736.0,0.0,3.0,3.0,1.0

In [112]:
dbn_df.to_csv('Diet_Behavior_Nutrition_Questionnaire_Data.csv')