In [23]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [24]:
raw_mcq = pd.read_sas('MCQ_I.XPT')

columns to keep:

MCQ080 - Doctor ever said you were overweight (categorical)

MCQ365a - Doctor told you to lose weight (categorical)

MCQ365b - Doctor told you to exercise (categorical)

MCQ365c - Doctor told you to reduce salt in diet (categorical)

MCQ365d - Doctor told you to reduce fat/calories (categorical)

In [25]:
mcq_cols_to_keep = ['SEQN', 'MCQ080', 'MCQ365A', 'MCQ365B', 'MCQ365C', 'MCQ365D']

In [26]:
mcq_df = raw_mcq[mcq_cols_to_keep]

In [27]:
mcq_df.shape

(9575, 6)

In [28]:
mcq_df.isna().sum()

SEQN          0
MCQ080     3248
MCQ365A    3248
MCQ365B    3248
MCQ365C    3248
MCQ365D    3248
dtype: int64

In [31]:
mcq_df.loc[mcq_df['MCQ080'] > 6, 'MCQ080'] = np.NaN
mcq_df.loc[mcq_df['MCQ365A'] > 6, 'MCQ365A'] = np.NaN
mcq_df.loc[mcq_df['MCQ365B'] > 6, 'MCQ365B'] = np.NaN
mcq_df.loc[mcq_df['MCQ365C'] > 6, 'MCQ365C'] = np.NaN
mcq_df.loc[mcq_df['MCQ365D'] > 6, 'MCQ365D'] = np.NaN

In [32]:
mcq_df.rename(columns={'MCQ080':'Doctor_told_you_overweight', 'MCQ365A':'Doctor_told_you_lose_weight', 
                       'MCQ365B':'Doctor_told_you_exercise', 'MCQ365C':'Doctor_told_you_reduce_salt', 
                       'MCQ365D':'Doctor_told_you_reduce_fat_calories'}, inplace=True)

In [33]:
mcq_df.head()

,SEQN,Doctor_told_you_overweight,Doctor_told_you_lose_weight,Doctor_told_you_exercise,Doctor_told_you_reduce_salt,Doctor_told_you_reduce_fat_calories
0,83732.0,1.0,2.0,1.0,2.0,2.0
1,83733.0,2.0,2.0,2.0,2.0,2.0
2,83734.0,1.0,2.0,1.0,1.0,1.0
3,83735.0,1.0,1.0,1.0,2.0,1.0
4,83736.0,2.0,2.0,2.0,2.0,2.0

In [37]:
mcq_df.to_csv('Medical_Conditions_Questionnaire_Data.csv')