In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [2]:
raw_diabetes = pd.read_sas('DIQ_I.XPT')

columns to keep:

DIQ010 - Doctor told you have diabetes (categorical)

In [3]:
diabetes_cols_to_keep = ['SEQN', 'DIQ010']

In [4]:
diabetes_df = raw_diabetes[diabetes_cols_to_keep]

In [5]:
diabetes_df.shape

(9575, 2)

In [6]:
diabetes_df.isna().sum()

SEQN      0
DIQ010    0
dtype: int64

In [7]:
diabetes_df.loc[diabetes_df['DIQ010']>6,'DIQ010'] = np.NaN

In [8]:
diabetes_df.isna().sum()

SEQN      0
DIQ010    4
dtype: int64

In [9]:
diabetes_df.rename(columns={'DIQ010':'Doctor_told_you_have_diabetes'}, inplace=True)

In [11]:
diabetes_df.head()

      SEQN  Doctor_told_you_have_diabetes
0  83732.0                            1.0
1  83733.0                            2.0
2  83734.0                            1.0
3  83735.0                            2.0
4  83736.0                            2.0

In [10]:
diabetes_df.to_csv('Diabetes_Questionnaire_Data.csv')