In [18]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [19]:
raw_paq = pd.read_sas('PAQ_I.XPT')

columns to keep:

PAQ635 - Walk or bicycle (categorical)

PAQ650 - Vigorous recreational activities (categorical)

PAQ665 - Moderate recreational activities (categorical)

In [20]:
paq_cols_to_keep = ['SEQN', 'PAQ635', 'PAQ650', 'PAQ665']

In [21]:
paq_df = raw_paq[paq_cols_to_keep]

In [22]:
paq_df.head()

      SEQN  PAQ635  PAQ650  PAQ665
0  83732.0     2.0     2.0     1.0
1  83733.0     2.0     2.0     2.0
2  83734.0     2.0     2.0     2.0
3  83735.0     2.0     2.0     2.0
4  83736.0     2.0     2.0     2.0

In [23]:
paq_df.shape

(9255, 4)

In [24]:
paq_df.isna().sum()

SEQN         0
PAQ635    2290
PAQ650    2292
PAQ665    2292
dtype: int64

In [25]:
paq_df.loc[paq_df['PAQ635'] > 6, 'PAQ635'] = np.NaN
paq_df.loc[paq_df['PAQ650'] > 6, 'PAQ650'] = np.NaN
paq_df.loc[paq_df['PAQ665'] > 6, 'PAQ665'] = np.NaN

In [26]:
paq_df.isna().sum()

SEQN         0
PAQ635    2291
PAQ650    2294
PAQ665    2296
dtype: int64

In [27]:
paq_df.rename(columns={'PAQ635':'Walk_or_bicycle', 'PAQ650':'Vigorous_recreational_activities', 
                       'PAQ665':'Moderate_recreational_activities'}, inplace=True)

In [28]:
paq_df.head()

,SEQN,Walk_or_bicycle,Vigorous_recreational_activities,Moderate_recreational_activities
0,83732.0,2.0,2.0,1.0
1,83733.0,2.0,2.0,2.0
2,83734.0,2.0,2.0,2.0
3,83735.0,2.0,2.0,2.0
4,83736.0,2.0,2.0,2.0

In [32]:
paq_df.to_csv('Physical_Activity_Questionnaire_Data.csv')