In [37]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [38]:
raw_smoking = pd.read_sas('SMQ_I.XPT')

columns to keep:

SMQ020 - Smoked at least 100 cigarettes in life (categorical)

SMQ040 - Do you now smoke cigarettes? (categorical)

In [39]:
smoking_cols_to_keep = ['SEQN', 'SMQ020', 'SMQ040']

In [40]:
smoking_df = raw_smoking[smoking_cols_to_keep]

In [41]:
smoking_df.shape

(7001, 3)

In [42]:
smoking_df.isna().sum()

SEQN         0
SMQ020    1009
SMQ040    4579
dtype: int64

In [43]:
smoking_df.loc[smoking_df['SMQ020'] > 6, 'SMQ020'] = np.NaN
smoking_df.loc[smoking_df['SMQ040'] > 6, 'SMQ040'] = np.NaN

In [44]:
smoking_df.isna().sum()

SEQN         0
SMQ020    1020
SMQ040    4579
dtype: int64

In [45]:
smoking_df.rename(columns={'SMQ020':'Smoked_at_least_100_cigarettes_in_life', 
                           'SMQ040':'Do_you_now_smoke_cigarettes'}, inplace=True)

In [46]:
smoking_df.to_csv('Smoking_Questionnaire_Data.csv')

In [47]:
smoking_df.head()

,SEQN,Smoked_at_least_100_cigarettes_in_life,Do_you_now_smoke_cigarettes
0,83732.0,1.0,3.0
1,83733.0,1.0,1.0
2,83734.0,1.0,3.0
3,83735.0,2.0,NaN
4,83736.0,2.0,NaN