In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Master_Data.csv', index_col=0)

In [6]:
df.reset_index(inplace=True)

In [7]:
df.shape

(4707, 39)

In [10]:
df.drop(columns='index',inplace=True)

In [12]:
df.shape

(4707, 38)

In [14]:
df.head()

,SEQN,Gender,Age,Race,Country_Born,Family_Income,Heart_Rate,Pulse_Regular_Irregular,Systolic_BP_Avg,Diastolic_BP_Avg,...,Doctor_told_you_lose_weight,Doctor_told_you_exercise,Doctor_told_you_reduce_salt,Doctor_told_you_reduce_fat_calories,Walk_or_bicycle,Vigorous_recreational_activities,Moderate_recreational_activities,Smoked_at_least_100_cigarettes_in_life,Do_you_now_smoke_cigarettes,Target
0,83732.0,1.0,62.0,3.0,1.0,10.0,76.0,1.0,122.666667,65.333333,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0
1,83733.0,1.0,53.0,3.0,2.0,4.0,72.0,1.0,140.000000,86.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0
2,83735.0,2.0,56.0,3.0,1.0,10.0,78.0,1.0,134.000000,70.000000,...,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0
3,83736.0,2.0,42.0,4.0,1.0,7.0,76.0,1.0,104.000000,60.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0
4,83741.0,1.0,22.0,4.0,1.0,7.0,66.0,1.0,111.333333,72.666667,...,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0

In [15]:
df['Target'].value_counts()

2.0    4343
1.0      80
Name: Target, dtype: int64

In [16]:
df.loc[df['Target']==2, 'Target'] = 0

In [17]:
df['Target'].value_counts()

0.0    4343
1.0      80
Name: Target, dtype: int64