replace N/A values with median or mode

One hot encoding for categorical variables

In [191]:
import pandas as pd
import numpy as np

In [197]:
df = pd.read_csv('Master_Data.csv', index_col=0)

In [198]:
df.head()

,SEQN,Gender,Age,Race,Country_Born,Family_Income,Heart_Rate,Pulse_Regular_Irregular,Systolic_BP_Avg,Diastolic_BP_Avg,...,Doctor_told_you_lose_weight,Doctor_told_you_exercise,Doctor_told_you_reduce_salt,Doctor_told_you_reduce_fat_calories,Walk_or_bicycle,Vigorous_recreational_activities,Moderate_recreational_activities,Smoked_at_least_100_cigarettes_in_life,Do_you_now_smoke_cigarettes,Target
0,83732.0,1.0,62.0,3.0,1.0,10.0,76.0,1.0,122.666667,65.333333,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0
1,83733.0,1.0,53.0,3.0,2.0,4.0,72.0,1.0,140.000000,86.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0
3,83735.0,2.0,56.0,3.0,1.0,10.0,78.0,1.0,134.000000,70.000000,...,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0
4,83736.0,2.0,42.0,4.0,1.0,7.0,76.0,1.0,104.000000,60.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0
9,83741.0,1.0,22.0,4.0,1.0,7.0,66.0,1.0,111.333333,72.666667,...,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0

In [199]:
df.shape

(4707, 38)

In [200]:
df.reset_index(inplace=True)

In [201]:
df.shape

(4707, 39)

In [202]:
df.drop(columns='index',inplace=True)

In [203]:
df.shape

(4707, 38)

In [204]:
df.head()

,SEQN,Gender,Age,Race,Country_Born,Family_Income,Heart_Rate,Pulse_Regular_Irregular,Systolic_BP_Avg,Diastolic_BP_Avg,...,Doctor_told_you_lose_weight,Doctor_told_you_exercise,Doctor_told_you_reduce_salt,Doctor_told_you_reduce_fat_calories,Walk_or_bicycle,Vigorous_recreational_activities,Moderate_recreational_activities,Smoked_at_least_100_cigarettes_in_life,Do_you_now_smoke_cigarettes,Target
0,83732.0,1.0,62.0,3.0,1.0,10.0,76.0,1.0,122.666667,65.333333,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0
1,83733.0,1.0,53.0,3.0,2.0,4.0,72.0,1.0,140.000000,86.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0
2,83735.0,2.0,56.0,3.0,1.0,10.0,78.0,1.0,134.000000,70.000000,...,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0
3,83736.0,2.0,42.0,4.0,1.0,7.0,76.0,1.0,104.000000,60.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0
4,83741.0,1.0,22.0,4.0,1.0,7.0,66.0,1.0,111.333333,72.666667,...,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0

In [205]:
df = df[np.isfinite(df['Target'])]

In [206]:
df['Target'].value_counts()

2.0    4343
1.0      80
Name: Target, dtype: int64

In [207]:
df['Target'].isna().sum()

0

In [208]:
df['Target'].value_counts()

2.0    4343
1.0      80
Name: Target, dtype: int64

In [209]:
df['Target'].isna().sum()

0

In [210]:
df['Country_Born'].value_counts()

1.0    2837
2.0    1585
Name: Country_Born, dtype: int64

In [211]:
df['Country_Born'].isna().sum()

1

In [212]:
df['Country_Born'].fillna(1, inplace=True)

In [213]:
df['Country_Born'].isna().sum()

0

In [214]:
df['Pulse_Regular_Irregular'].value_counts()

1.0    4058
2.0      65
Name: Pulse_Regular_Irregular, dtype: int64

In [215]:
df['Pulse_Regular_Irregular'].isna().sum()

300

In [216]:
df['Pulse_Regular_Irregular'].fillna(1, inplace=True)

In [217]:
df['Pulse_Regular_Irregular'].value_counts()

1.0    4358
2.0      65
Name: Pulse_Regular_Irregular, dtype: int64

In [218]:
df['Pulse_Regular_Irregular'].isna().sum()

0

In [219]:
df['Have_4_5_Plus_Drinks_a_Day'].value_counts()

2.0    2632
1.0     540
Name: Have_4_5_Plus_Drinks_a_Day, dtype: int64

In [220]:
df['Have_4_5_Plus_Drinks_a_Day'].isna().sum()

1251

In [221]:
df['Have_4_5_Plus_Drinks_a_Day'].fillna(2,inplace=True)

In [222]:
df['Pulse_Regular_Irregular'].isna().sum()

0

In [223]:
df['Ever_told_high_blood_pressure'].value_counts()

2.0    3162
1.0    1258
Name: Ever_told_high_blood_pressure, dtype: int64

In [224]:
df['Ever_told_high_blood_pressure'].isna().sum()

3

In [225]:
df['Ever_told_high_blood_pressure'].fillna(2,inplace=True)

In [226]:
df['Ever_told_high_blood_pressure'].isna().sum()

0

In [227]:
df['Ever_told_high_cholesterol'].value_counts()

2.0    3194
1.0    1206
Name: Ever_told_high_cholesterol, dtype: int64

In [228]:
df['Ever_told_high_cholesterol'].isna().sum()

23

In [229]:
df['Ever_told_high_cholesterol'].fillna(2,inplace=True)

In [230]:
df['Ever_told_high_cholesterol'].isna().sum()

0

In [231]:
df['Doctor_told_you_have_diabetes'].value_counts()

2.0    3851
1.0     487
3.0      83
Name: Doctor_told_you_have_diabetes, dtype: int64

In [232]:
df['Doctor_told_you_have_diabetes'].isna().sum()

2

In [233]:
df['Doctor_told_you_have_diabetes'].fillna(2,inplace=True)

In [234]:
df['Doctor_told_you_have_diabetes'].isna().sum()

0

In [235]:
df['Doctor_told_you_overweight'].value_counts()

2.0    2785
1.0    1636
Name: Doctor_told_you_overweight, dtype: int64

In [236]:
df['Doctor_told_you_overweight'].isna().sum()

2

In [237]:
df['Doctor_told_you_overweight'].fillna(2,inplace=True)

In [238]:
df['Doctor_told_you_overweight'].isna().sum()

0

In [239]:
df['Doctor_told_you_exercise'].value_counts()

2.0    2681
1.0    1741
Name: Doctor_told_you_exercise, dtype: int64

In [240]:
df['Doctor_told_you_exercise'].isna().sum()

1

In [241]:
df['Doctor_told_you_exercise'].fillna(2,inplace=True)

In [242]:
df['Doctor_told_you_exercise'].isna().sum()

0

In [243]:
df['Doctor_told_you_reduce_salt'].value_counts()

2.0    3285
1.0    1134
Name: Doctor_told_you_reduce_salt, dtype: int64

In [244]:
df['Doctor_told_you_reduce_salt'].isna().sum()

4

In [245]:
df['Doctor_told_you_reduce_salt'].fillna(2,inplace=True)

In [246]:
df['Doctor_told_you_reduce_salt'].isna().sum()

0

In [247]:
df['Doctor_told_you_reduce_salt'].value_counts()

2.0    3289
1.0    1134
Name: Doctor_told_you_reduce_salt, dtype: int64

In [248]:
df['Doctor_told_you_reduce_fat_calories'].value_counts()

2.0    3093
1.0    1327
Name: Doctor_told_you_reduce_fat_calories, dtype: int64

In [249]:
df['Doctor_told_you_reduce_fat_calories'].isna().sum()

3

In [250]:
df['Doctor_told_you_reduce_fat_calories'].fillna(2,inplace=True)

In [251]:
df['Doctor_told_you_reduce_fat_calories'].isna().sum()

0

In [252]:
df['Doctor_told_you_reduce_fat_calories'].value_counts()

2.0    3096
1.0    1327
Name: Doctor_told_you_reduce_fat_calories, dtype: int64

In [253]:
df['Walk_or_bicycle'].value_counts()

2.0    3390
1.0    1032
Name: Walk_or_bicycle, dtype: int64

In [254]:
df['Walk_or_bicycle'].fillna(2,inplace=True)

In [255]:
df['Vigorous_recreational_activities'].value_counts()

2.0    3132
1.0    1290
Name: Vigorous_recreational_activities, dtype: int64

In [256]:
df['Vigorous_recreational_activities'].fillna(2,inplace=True)

In [257]:
df['Moderate_recreational_activities'].value_counts()

2.0    2517
1.0    1904
Name: Moderate_recreational_activities, dtype: int64

In [258]:
df['Moderate_recreational_activities'].fillna(2, inplace=True)

In [259]:
df['Moderate_recreational_activities'].isna().sum()

0

In [260]:
df['Smoked_at_least_100_cigarettes_in_life'].value_counts()

2.0    2683
1.0    1735
Name: Smoked_at_least_100_cigarettes_in_life, dtype: int64

In [261]:
df['Smoked_at_least_100_cigarettes_in_life'].fillna(2, inplace=True)

In [262]:
df['Do_you_now_smoke_cigarettes'].value_counts()

3.0    797
1.0    704
2.0    234
Name: Do_you_now_smoke_cigarettes, dtype: int64

In [263]:
df['Do_you_now_smoke_cigarettes'].fillna(3,inplace=True)

In [264]:
df['Do_you_now_smoke_cigarettes'].value_counts()

3.0    3485
1.0     704
2.0     234
Name: Do_you_now_smoke_cigarettes, dtype: int64

In [265]:
df['Do_you_now_smoke_cigarettes'].isna().sum()

0

In [266]:
df['Systolic_BP_Avg'].median()

120.0

In [267]:
len(df[df['Systolic_BP_Avg'] == 119.33333333333331])

77

In [268]:
df['Systolic_BP_Avg'].isna().sum()

303

In [269]:
df['Systolic_BP_Avg'].fillna(df['Systolic_BP_Avg'].median(), inplace=True)

In [270]:
len(df[df['Systolic_BP_Avg'] == 119.33333333333331])

77

In [271]:
df['Diastolic_BP_Avg'].median()

71.33333333333333

In [272]:
df['Diastolic_BP_Avg'].isna().sum()

303

In [273]:
df['Diastolic_BP_Avg'].fillna(df['Diastolic_BP_Avg'].median(), inplace=True)

In [274]:
df['Systolic_BP_Avg'].isna().sum()

0

In [275]:
df['Heart_Rate'].median()

72.0

In [276]:
len(df[df['Heart_Rate'] == 72])

278

In [277]:
df['Heart_Rate'].isna().sum()

300

In [278]:
df['Heart_Rate'].fillna(df['Heart_Rate'].median(), inplace=True)

In [279]:
len(df[df['Heart_Rate'] == 72])

578

In [280]:
df['Weight_kg'].fillna(df['Weight_kg'].median(), inplace=True)
df['Height_cm'].fillna(df['Height_cm'].median(), inplace=True)
df['BMI'].fillna(df['BMI'].median(), inplace=True)
df['Waist_cm'].fillna(df['Waist_cm'].median(), inplace=True)
df['Avg_Num_Alcohol_Drink_a_Day'].fillna(df['Avg_Num_Alcohol_Drink_a_Day'].median(), inplace=True)
df['Money_spent_at_supermarket_grocery_store'].fillna(df['Money_spent_at_supermarket_grocery_store'].median(), inplace=True)
df['Money_spent_on_food_at_other_stores'].fillna(df['Money_spent_on_food_at_other_stores'].median(), inplace=True)
df['Money_spent_eating_out'].fillna(df['Money_spent_eating_out'].median(), inplace=True)
df['Money_spent_carryout_delivered_foods'].fillna(df['Money_spent_carryout_delivered_foods'].median(), inplace=True)
df['Meals_not_home_prepared'].fillna(df['Meals_not_home_prepared'].median(), inplace=True)
df['Past_30day_ready_to_eat_foods'].fillna(df['Past_30day_ready_to_eat_foods'].median(), inplace=True)
df['Past_30day_frozen_meals_pizza'].fillna(df['Past_30day_frozen_meals_pizza'].median(), inplace=True)

In [281]:
df.isna().sum()

SEQN                                          0
Gender                                        0
Age                                           0
Race                                          0
Country_Born                                  0
Family_Income                               297
Heart_Rate                                    0
Pulse_Regular_Irregular                       0
Systolic_BP_Avg                               0
Diastolic_BP_Avg                              0
Weight_kg                                     0
Height_cm                                     0
BMI                                           0
Waist_cm                                      0
Avg_Num_Alcohol_Drink_a_Day                   0
Have_4_5_Plus_Drinks_a_Day                    0
Ever_told_high_blood_pressure                 0
Ever_told_high_cholesterol                    0
Money_spent_at_supermarket_grocery_store      0
Money_spent_on_food_at_other_stores           0
Money_spent_eating_out                        0
Money_spent_carryout_delivered_foods          0
Doctor_told_you_have_diabetes                 0
Past_30day_milk_consumption                   0
Meals_not_home_prepared                       0
Past_30day_ready_to_eat_foods                 0
Past_30day_frozen_meals_pizza                 0
Doctor_told_you_overweight                    0
Doctor_told_you_lose_weight                   0
Doctor_told_you_exercise                      0
Doctor_told_you_reduce_salt                   0
Doctor_told_you_reduce_fat_calories           0
Walk_or_bicycle                               0
Vigorous_recreational_activities              0
Moderate_recreational_activities              0
Smoked_at_least_100_cigarettes_in_life        0
Do_you_now_smoke_cigarettes                   0
Target                                        0
dtype: int64

In [282]:
df['Family_Income'].value_counts()

15.0    730
6.0     468
14.0    418
7.0     398
8.0     377
9.0     281
5.0     264
4.0     257
3.0     246
10.0    221
2.0     175
1.0     156
12.0     85
13.0     50
Name: Family_Income, dtype: int64

In [283]:
df['Family_Income'].fillna(15,inplace=True)

In [284]:
df['Family_Income'].value_counts()

15.0    1027
6.0      468
14.0     418
7.0      398
8.0      377
9.0      281
5.0      264
4.0      257
3.0      246
10.0     221
2.0      175
1.0      156
12.0      85
13.0      50
Name: Family_Income, dtype: int64

In [285]:
df.isna().sum()

SEQN                                        0
Gender                                      0
Age                                         0
Race                                        0
Country_Born                                0
Family_Income                               0
Heart_Rate                                  0
Pulse_Regular_Irregular                     0
Systolic_BP_Avg                             0
Diastolic_BP_Avg                            0
Weight_kg                                   0
Height_cm                                   0
BMI                                         0
Waist_cm                                    0
Avg_Num_Alcohol_Drink_a_Day                 0
Have_4_5_Plus_Drinks_a_Day                  0
Ever_told_high_blood_pressure               0
Ever_told_high_cholesterol                  0
Money_spent_at_supermarket_grocery_store    0
Money_spent_on_food_at_other_stores         0
Money_spent_eating_out                      0
Money_spent_carryout_delivered_foods        0
Doctor_told_you_have_diabetes               0
Past_30day_milk_consumption                 0
Meals_not_home_prepared                     0
Past_30day_ready_to_eat_foods               0
Past_30day_frozen_meals_pizza               0
Doctor_told_you_overweight                  0
Doctor_told_you_lose_weight                 0
Doctor_told_you_exercise                    0
Doctor_told_you_reduce_salt                 0
Doctor_told_you_reduce_fat_calories         0
Walk_or_bicycle                             0
Vigorous_recreational_activities            0
Moderate_recreational_activities            0
Smoked_at_least_100_cigarettes_in_life      0
Do_you_now_smoke_cigarettes                 0
Target                                      0
dtype: int64

In [286]:
df['Pulse_Regular_Irregular'].value_counts()

1.0    4358
2.0      65
Name: Pulse_Regular_Irregular, dtype: int64

In [287]:
df.loc[df['Pulse_Regular_Irregular'] == 1, 'Pulse_Regular_Irregular'] = 0

In [288]:
df.loc[df['Pulse_Regular_Irregular'] == 2, 'Pulse_Regular_Irregular'] = 1

In [289]:
df['Pulse_Regular_Irregular'].value_counts()

0.0    4358
1.0      65
Name: Pulse_Regular_Irregular, dtype: int64

In [290]:
df.rename(columns={'Pulse_Regular_Irregular': 'Irregular_Pulse'}, inplace=True)

In [291]:
df['Irregular_Pulse'].value_counts()

0.0    4358
1.0      65
Name: Irregular_Pulse, dtype: int64

In [292]:
df['Have_4_5_Plus_Drinks_a_Day'].value_counts()

2.0    3883
1.0     540
Name: Have_4_5_Plus_Drinks_a_Day, dtype: int64

In [293]:
df.loc[df['Have_4_5_Plus_Drinks_a_Day'] == 2, 'Have_4_5_Plus_Drinks_a_Day']=0

In [294]:
df.loc[df['Ever_told_high_blood_pressure'] == 2, 'Ever_told_high_blood_pressure']=0

In [295]:
df.loc[df['Ever_told_high_cholesterol'] == 2, 'Ever_told_high_cholesterol']=0

In [296]:
df.loc[df['Doctor_told_you_have_diabetes'] == 2, 'Doctor_told_you_have_diabetes']=0

In [297]:
df.loc[df['Doctor_told_you_overweight'] == 2, 'Doctor_told_you_overweight']=0
df.loc[df['Doctor_told_you_lose_weight'] == 2, 'Doctor_told_you_lose_weight']=0
df.loc[df['Doctor_told_you_exercise'] == 2, 'Doctor_told_you_exercise']=0
df.loc[df['Doctor_told_you_reduce_salt'] == 2, 'Doctor_told_you_reduce_salt']=0
df.loc[df['Doctor_told_you_reduce_fat_calories'] == 2, 'Doctor_told_you_reduce_fat_calories']=0
df.loc[df['Walk_or_bicycle'] == 2, 'Walk_or_bicycle']=0
df.loc[df['Vigorous_recreational_activities'] == 2, 'Vigorous_recreational_activities']=0
df.loc[df['Moderate_recreational_activities'] == 2, 'Moderate_recreational_activities']=0
df.loc[df['Smoked_at_least_100_cigarettes_in_life'] == 2, 'Smoked_at_least_100_cigarettes_in_life']=0

In [298]:
cols_for_dummies = ['Past_30day_milk_consumption', 'Do_you_now_smoke_cigarettes']

In [299]:
df_master = pd.get_dummies(df, columns=cols_for_dummies)

In [300]:
df_master.head()

,SEQN,Gender,Age,Race,Country_Born,Family_Income,Heart_Rate,Irregular_Pulse,Systolic_BP_Avg,Diastolic_BP_Avg,...,Smoked_at_least_100_cigarettes_in_life,Target,Past_30day_milk_consumption_0.0,Past_30day_milk_consumption_1.0,Past_30day_milk_consumption_2.0,Past_30day_milk_consumption_3.0,Past_30day_milk_consumption_4.0,Do_you_now_smoke_cigarettes_1.0,Do_you_now_smoke_cigarettes_2.0,Do_you_now_smoke_cigarettes_3.0
0,83732.0,1.0,62.0,3.0,1.0,10.0,76.0,0.0,122.666667,65.333333,...,1.0,2.0,0,0,0,1,0,0,0,1
1,83733.0,1.0,53.0,3.0,2.0,4.0,72.0,0.0,140.000000,86.000000,...,1.0,2.0,1,0,0,0,0,1,0,0
2,83735.0,2.0,56.0,3.0,1.0,10.0,78.0,0.0,134.000000,70.000000,...,0.0,2.0,1,0,0,0,0,0,0,1
3,83736.0,2.0,42.0,4.0,1.0,7.0,76.0,0.0,104.000000,60.000000,...,0.0,2.0,1,0,0,0,0,0,0,1
4,83741.0,1.0,22.0,4.0,1.0,7.0,66.0,0.0,111.333333,72.666667,...,1.0,2.0,0,0,1,0,0,0,1,0

In [301]:
df_master.columns

Index(['SEQN', 'Gender', 'Age', 'Race', 'Country_Born', 'Family_Income',
       'Heart_Rate', 'Irregular_Pulse', 'Systolic_BP_Avg', 'Diastolic_BP_Avg',
       'Weight_kg', 'Height_cm', 'BMI', 'Waist_cm',
       'Avg_Num_Alcohol_Drink_a_Day', 'Have_4_5_Plus_Drinks_a_Day',
       'Ever_told_high_blood_pressure', 'Ever_told_high_cholesterol',
       'Money_spent_at_supermarket_grocery_store',
       'Money_spent_on_food_at_other_stores', 'Money_spent_eating_out',
       'Money_spent_carryout_delivered_foods', 'Doctor_told_you_have_diabetes',
       'Meals_not_home_prepared', 'Past_30day_ready_to_eat_foods',
       'Past_30day_frozen_meals_pizza', 'Doctor_told_you_overweight',
       'Doctor_told_you_lose_weight', 'Doctor_told_you_exercise',
       'Doctor_told_you_reduce_salt', 'Doctor_told_you_reduce_fat_calories',
       'Walk_or_bicycle', 'Vigorous_recreational_activities',
       'Moderate_recreational_activities',
       'Smoked_at_least_100_cigarettes_in_life', 'Target',
       'Past_30day_milk_consumption_0.0', 'Past_30day_milk_consumption_1.0',
       'Past_30day_milk_consumption_2.0', 'Past_30day_milk_consumption_3.0',
       'Past_30day_milk_consumption_4.0', 'Do_you_now_smoke_cigarettes_1.0',
       'Do_you_now_smoke_cigarettes_2.0', 'Do_you_now_smoke_cigarettes_3.0'],
      dtype='object')

In [302]:
df_master.shape

(4423, 44)

In [168]:
df_master.to_csv('Master_Clean.csv')

In [303]:
df_master.index

Int64Index([   0,    1,    2,    3,    4,    5,    7,    8,    9,   10,
            ...
            4697, 4698, 4699, 4700, 4701, 4702, 4703, 4704, 4705, 4706],
           dtype='int64', length=4423)

In [304]:
df_master.tail()

,SEQN,Gender,Age,Race,Country_Born,Family_Income,Heart_Rate,Irregular_Pulse,Systolic_BP_Avg,Diastolic_BP_Avg,...,Smoked_at_least_100_cigarettes_in_life,Target,Past_30day_milk_consumption_0.0,Past_30day_milk_consumption_1.0,Past_30day_milk_consumption_2.0,Past_30day_milk_consumption_3.0,Past_30day_milk_consumption_4.0,Do_you_now_smoke_cigarettes_1.0,Do_you_now_smoke_cigarettes_2.0,Do_you_now_smoke_cigarettes_3.0
4702,93690.0,1.0,32.0,2.0,1.0,15.0,92.0,0.0,115.333333,62.000000,...,0.0,2.0,0,1,0,0,0,0,0,1
4703,93691.0,1.0,25.0,6.0,2.0,10.0,92.0,0.0,112.000000,76.000000,...,0.0,2.0,0,1,0,0,0,0,0,1
4704,93696.0,1.0,26.0,3.0,1.0,9.0,80.0,0.0,116.000000,72.000000,...,0.0,2.0,0,1,0,0,0,0,0,1
4705,93700.0,1.0,35.0,3.0,2.0,1.0,76.0,0.0,104.666667,65.333333,...,1.0,2.0,1,0,0,0,0,1,0,0
4706,93702.0,2.0,24.0,3.0,1.0,7.0,80.0,0.0,118.666667,66.000000,...,0.0,2.0,0,1,0,0,0,0,0,1

In [305]:
more_cols_for_dummies = ['Gender', 'Race', 'Country_Born', 'Family_Income']

In [306]:
df_master_new = pd.get_dummies(df_master, columns=more_cols_for_dummies)

In [307]:
df_master_new.shape

(4423, 64)

In [174]:
df_master_new.to_csv('Master_Clean.csv')

In [308]:
df_master_new.shape

(4423, 64)

In [309]:
df_master_new['Target'].value_counts()

2.0    4343
1.0      80
Name: Target, dtype: int64

In [310]:
df_master_new.loc[df_master_new['Target'] == 2, 'Target'] = 0

In [311]:
df_master_new['Target'].value_counts()

0.0    4343
1.0      80
Name: Target, dtype: int64

In [312]:
df_master_new.to_csv('Master_Clean.csv')