In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Master_Data.csv', index_col=0)

In [3]:
df.head()

,SEQN,Gender,Age,Race,Country_Born,Family_Income,Heart_Rate,Pulse_Regular_Irregular,Systolic_BP_Avg,Diastolic_BP_Avg,...,Doctor_told_you_lose_weight,Doctor_told_you_exercise,Doctor_told_you_reduce_salt,Doctor_told_you_reduce_fat_calories,Walk_or_bicycle,Vigorous_recreational_activities,Moderate_recreational_activities,Smoked_at_least_100_cigarettes_in_life,Do_you_now_smoke_cigarettes,Target
0,83732.0,1.0,62.0,3.0,1.0,10.0,76.0,1.0,122.666667,65.333333,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0
1,83733.0,1.0,53.0,3.0,2.0,4.0,72.0,1.0,140.000000,86.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0
3,83735.0,2.0,56.0,3.0,1.0,10.0,78.0,1.0,134.000000,70.000000,...,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0
4,83736.0,2.0,42.0,4.0,1.0,7.0,76.0,1.0,104.000000,60.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0
9,83741.0,1.0,22.0,4.0,1.0,7.0,66.0,1.0,111.333333,72.666667,...,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0

In [4]:
df.shape

(4707, 38)

In [5]:
df.reset_index(inplace=True)

In [6]:
df.shape

(4707, 39)

In [7]:
df.drop(columns='index',inplace=True)

In [8]:
df.shape

(4707, 38)

In [9]:
df.head()

,SEQN,Gender,Age,Race,Country_Born,Family_Income,Heart_Rate,Pulse_Regular_Irregular,Systolic_BP_Avg,Diastolic_BP_Avg,...,Doctor_told_you_lose_weight,Doctor_told_you_exercise,Doctor_told_you_reduce_salt,Doctor_told_you_reduce_fat_calories,Walk_or_bicycle,Vigorous_recreational_activities,Moderate_recreational_activities,Smoked_at_least_100_cigarettes_in_life,Do_you_now_smoke_cigarettes,Target
0,83732.0,1.0,62.0,3.0,1.0,10.0,76.0,1.0,122.666667,65.333333,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0
1,83733.0,1.0,53.0,3.0,2.0,4.0,72.0,1.0,140.000000,86.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0
2,83735.0,2.0,56.0,3.0,1.0,10.0,78.0,1.0,134.000000,70.000000,...,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0
3,83736.0,2.0,42.0,4.0,1.0,7.0,76.0,1.0,104.000000,60.000000,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0
4,83741.0,1.0,22.0,4.0,1.0,7.0,66.0,1.0,111.333333,72.666667,...,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0

In [10]:
df['Target'].value_counts()

2.0    4343
1.0      80
Name: Target, dtype: int64

In [11]:
df['Target'].isna().sum()

284

In [12]:
df.loc[df['Target']==2, 'Target'] = 0

In [13]:
df['Target'].value_counts()

0.0    4343
1.0      80
Name: Target, dtype: int64

In [14]:
df['Target'].isna().sum()

284

In [15]:
df['Pulse_Regular_Irregular'].value_counts()

1.0    4322
2.0      67
Name: Pulse_Regular_Irregular, dtype: int64

In [16]:
df.loc[df['Pulse_Regular_Irregular'] == 1, 'Pulse_Regular_Irregular'] = 0

In [17]:
df.loc[df['Pulse_Regular_Irregular'] == 2, 'Pulse_Regular_Irregular'] = 1

In [18]:
df['Pulse_Regular_Irregular'].value_counts()

0.0    4322
1.0      67
Name: Pulse_Regular_Irregular, dtype: int64

In [19]:
df.rename(columns={'Pulse_Regular_Irregular': 'Irregular_Pulse'}, inplace=True)

In [20]:
df['Irregular_Pulse'].value_counts()

0.0    4322
1.0      67
Name: Irregular_Pulse, dtype: int64

In [21]:
df['Have_4_5_Plus_Drinks_a_Day'].value_counts()

2.0    2766
1.0     548
Name: Have_4_5_Plus_Drinks_a_Day, dtype: int64

In [22]:
df.loc[df['Have_4_5_Plus_Drinks_a_Day'] == 2, 'Have_4_5_Plus_Drinks_a_Day']=0

In [23]:
df.loc[df['Ever_told_high_blood_pressure'] == 2, 'Ever_told_high_blood_pressure']=0

In [24]:
df.loc[df['Ever_told_high_cholesterol'] == 2, 'Ever_told_high_cholesterol']=0

In [25]:
df.loc[df['Doctor_told_you_have_diabetes'] == 2, 'Doctor_told_you_have_diabetes']=0

In [26]:
df.loc[df['Doctor_told_you_overweight'] == 2, 'Doctor_told_you_overweight']=0
df.loc[df['Doctor_told_you_lose_weight'] == 2, 'Doctor_told_you_lose_weight']=0
df.loc[df['Doctor_told_you_exercise'] == 2, 'Doctor_told_you_exercise']=0
df.loc[df['Doctor_told_you_reduce_salt'] == 2, 'Doctor_told_you_reduce_salt']=0
df.loc[df['Doctor_told_you_reduce_fat_calories'] == 2, 'Doctor_told_you_reduce_fat_calories']=0
df.loc[df['Walk_or_bicycle'] == 2, 'Walk_or_bicycle']=0
df.loc[df['Vigorous_recreational_activities'] == 2, 'Vigorous_recreational_activities']=0
df.loc[df['Moderate_recreational_activities'] == 2, 'Moderate_recreational_activities']=0
df.loc[df['Smoked_at_least_100_cigarettes_in_life'] == 2, 'Smoked_at_least_100_cigarettes_in_life']=0

In [27]:
cols_for_dummies = ['Past_30day_milk_consumption', 'Do_you_now_smoke_cigarettes']

In [28]:
df_master = pd.get_dummies(df, columns=cols_for_dummies, dummy_na=True)

In [29]:
df_master.head()

,SEQN,Gender,Age,Race,Country_Born,Family_Income,Heart_Rate,Irregular_Pulse,Systolic_BP_Avg,Diastolic_BP_Avg,...,Past_30day_milk_consumption_0.0,Past_30day_milk_consumption_1.0,Past_30day_milk_consumption_2.0,Past_30day_milk_consumption_3.0,Past_30day_milk_consumption_4.0,Past_30day_milk_consumption_nan,Do_you_now_smoke_cigarettes_1.0,Do_you_now_smoke_cigarettes_2.0,Do_you_now_smoke_cigarettes_3.0,Do_you_now_smoke_cigarettes_nan
0,83732.0,1.0,62.0,3.0,1.0,10.0,76.0,0.0,122.666667,65.333333,...,0,0,0,1,0,0,0,0,1,0
1,83733.0,1.0,53.0,3.0,2.0,4.0,72.0,0.0,140.000000,86.000000,...,1,0,0,0,0,0,1,0,0,0
2,83735.0,2.0,56.0,3.0,1.0,10.0,78.0,0.0,134.000000,70.000000,...,1,0,0,0,0,0,0,0,0,1
3,83736.0,2.0,42.0,4.0,1.0,7.0,76.0,0.0,104.000000,60.000000,...,1,0,0,0,0,0,0,0,0,1
4,83741.0,1.0,22.0,4.0,1.0,7.0,66.0,0.0,111.333333,72.666667,...,0,0,1,0,0,0,0,1,0,0

In [30]:
df_master.columns

Index(['SEQN', 'Gender', 'Age', 'Race', 'Country_Born', 'Family_Income',
       'Heart_Rate', 'Irregular_Pulse', 'Systolic_BP_Avg', 'Diastolic_BP_Avg',
       'Weight_kg', 'Height_cm', 'BMI', 'Waist_cm',
       'Avg_Num_Alcohol_Drink_a_Day', 'Have_4_5_Plus_Drinks_a_Day',
       'Ever_told_high_blood_pressure', 'Ever_told_high_cholesterol',
       'Money_spent_at_supermarket_grocery_store',
       'Money_spent_on_food_at_other_stores', 'Money_spent_eating_out',
       'Money_spent_carryout_delivered_foods', 'Doctor_told_you_have_diabetes',
       'Meals_not_home_prepared', 'Past_30day_ready_to_eat_foods',
       'Past_30day_frozen_meals_pizza', 'Doctor_told_you_overweight',
       'Doctor_told_you_lose_weight', 'Doctor_told_you_exercise',
       'Doctor_told_you_reduce_salt', 'Doctor_told_you_reduce_fat_calories',
       'Walk_or_bicycle', 'Vigorous_recreational_activities',
       'Moderate_recreational_activities',
       'Smoked_at_least_100_cigarettes_in_life', 'Target',
       'Past_30day_milk_consumption_0.0', 'Past_30day_milk_consumption_1.0',
       'Past_30day_milk_consumption_2.0', 'Past_30day_milk_consumption_3.0',
       'Past_30day_milk_consumption_4.0', 'Past_30day_milk_consumption_nan',
       'Do_you_now_smoke_cigarettes_1.0', 'Do_you_now_smoke_cigarettes_2.0',
       'Do_you_now_smoke_cigarettes_3.0', 'Do_you_now_smoke_cigarettes_nan'],
      dtype='object')

In [31]:
df_master.shape

(4707, 46)

In [32]:
more_cols_for_dummies = ['Country_Born', 'Family_Income']

In [33]:
df_master_new = pd.get_dummies(df_master, columns=more_cols_for_dummies, dummy_na=True)

In [35]:
df_master_new.shape

(4707, 62)

In [34]:
other_cols_for_dummies = ['Gender', 'Race']

In [36]:
df_master_master = pd.get_dummies(df_master_new, columns=other_cols_for_dummies)

In [37]:
df_master_master.shape

(4707, 68)

In [38]:
df_master_master.to_csv('Master_Clean_w_NaN.csv')